* {
    background-color: rgb(32, 32, 32);
    padding: 0px;
}
.container {
    height: 600px;
    width: 500px;
    margin: 50px auto;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2px;
}

.display {
    grid-column: 1 / 5;
    background-color: whitesmoke;
    place-items: center;
}

button {
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}